@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/* GOOGLE FONT'S ABOVE */

/* PAGE RESET */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Page reset end */

/* Layout */
body {  
    min-height: 100vh;
    background-color: hsl(0, 0%, 95%);  
    display: flex;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px
}
img {
    margin: 20px;
}
h2 {
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    padding-top: 20px;
    padding-left: 40px;
    color: hsl(0, 0%, 95%);
}
p {
    color: hsla(0, 0%, 95%, 0.712);
    padding: 40px;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
}
.container {
    max-width: 960px;
    margin: 0 auto;
}
.columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 7rem;
    
}
.column-1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 4px;
    padding: 10px;
}
.column-2 {
 background-color: hsl(184, 100%, 22%);
 border-radius: 4px;
 padding: 10px;
    
}
.column-3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 4px;
    padding: 10px;
}

  


.button-80 {
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    color: hsl(31, 77%, 52%);
    padding: 15px;
    display: inline-block;
    margin: 28px;
    border-radius: 10px;

}

.button-81 {
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
    padding: 15px;
    display: inline-block;
    margin: 28px;
    border-radius: 10px;

}

.button-82 {
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    color: hsl(179, 100%, 13%);
    padding: 15px;
    display: inline-block;
    margin: 28px;
    border-radius: 10px;

}
@media only screen and (max-width: 768px) {
    .columns {
        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 425px) {
    .columns {
        margin: 2rem .5rem;
    }
}

